body {
  background-color: #344950;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4px;
}